node_modules
.DS_Store
dist
dist-ssr
*.local
node_modules/*
amplify/*
cypress/*
package.json
package-lock.json
cypress.json
lint-staged.config.js
babel.config.js
jest.config.js
jest-coverage
amplify.yml
reports/*
jest-coverage/*
mochawesome-report/*
src/assets/lotties/*
.vscode/*
*.md
**/*.stories.*
coverage/*
tsconfig.json
cypress.env.json



